In [1]:
import numpy as np
import pandas as pd

In [66]:
#Reading the dataset
la_liga = pd.read_csv("Laliga.csv", header = 1 )

In [11]:
#Getting basic information from the dataset

In [12]:
la_liga.shape

(61, 20)

In [35]:
la_liga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null object
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null object
GoalsAgainst     61 non-null object
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: int64(3), object(17)
memory usage: 9.6+ KB

In [36]:
#Checking null values
la_liga.isnull().sum()

Pos              0
Team             0
Seasons          0
Points           0
GamesPlayed      0
GamesWon         0
GamesDrawn       0
GamesLost        0
GoalsFor         0
GoalsAgainst     0
Champion         0
Runner-up        0
Third            0
Fourth           0
Fifth            0
Sixth            0
T                0
Debut            0
Since/LastApp    0
BestPosition     0
dtype: int64

In [67]:
#Replacing '-' with 0
la_liga.replace('-',0, inplace=True)

In [68]:
#checking datatype
la_liga.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [60]:
#Copying the info from 'Debut' column to 'Debut mod' column and slicing it to remove the data 
#after '-' and converting it to int

In [69]:
#la_liga['Debut']=la_liga['Debut'].astype(str)
la_liga['Debut mod'] = la_liga['Debut'].str.slice(0,4)
la_liga['Debut mod'] = la_liga['Debut mod'].astype(int)

In [85]:
#Info of teams who played between 1930 and 1980. Did not include 1929-30 since that would mean the teams 
#started in the year 1929
la_liga_debut = la_liga.loc[(la_liga['Debut mod']>=1930)&(la_liga['Debut mod']<=1980)]

print(la_liga_debut.iloc[:,1].to_string(index=False))

            Valencia
             Sevilla
            Zaragoza
          Real Betis
 Deportivo La Coruna
          Celta Vigo
          Valladolid
      Sporting Gijon
             Osasuna
              Malaga
              Oviedo
            Mallorca
          Las Palmas
             Granada
      Rayo Vallecano
               Elche
            Hercules
            Tenerife
              Murcia
              Alaves
             Levante
           Salamanca
            Sabadell
               Cadiz
           Castellon
             Cordoba
          Recreativo
           Burgos CF
          Pontevedra
           Gimnastic
            Alcoyano
                Jaen
          AD Almeria
              Lleida
              Condal
     Atletico Tetuan
    Cultural Leonesa

In [136]:
#Converting datatype of 'Points' to int from object
la_liga['Points'] = la_liga['Points'].astype(int)

In [137]:
#Sorting based on points
la_liga.sort_values(by=['Points'], ascending=False, inplace=True)

In [143]:
#Printing a list of Top 5 teams based on points
print(la_liga.iloc[:5,1].values.tolist())

['Real Madrid', 'Barcelona', 'Atletico Madrid', 'Valencia', 'Athletic Bilbao']

In [135]:
#Goal_diff_count returns a dataframe with team and their goal difference and also prints the maximum goal 
#difference and the team

def Goal_diff_count():
    goal_diff = la_liga['GoalsFor'].astype(int) - la_liga['GoalsAgainst'].astype(int)
    goal_diff_dict = {'Team': la_liga['Team'],'Goal_diff': goal_diff}
    Goal_diff_df = pd.DataFrame(goal_diff_dict)
    print(f"Max goal difference :{Goal_diff_df.loc[Goal_diff_df['Goal_diff'].idxmax()].to_string(index=False)}")
    print(f"Min goal difference :{Goal_diff_df.loc[Goal_diff_df['Goal_diff'].idxmin()].to_string(index=False)}")
    return Goal_diff_df

Goal_diff_count()

Max goal difference : Real Madrid
        2807
Min goal difference : Racing Santander
             -525

                   Team  Goal_diff
0           Real Madrid       2807
1             Barcelona       2786
2       Atletico Madrid       1225
3              Valencia        929
4       Athletic Bilbao        931
20           Villarreal        103
5               Sevilla        307
7         Real Sociedad         -2
10  Deportivo La Coruna       -136
6              Espanyol       -280
8              Zaragoza       -164
9            Real Betis       -333
11           Celta Vigo       -346
17               Oviedo       -309
18             Mallorca       -189
19           Las Palmas       -399
53               Europa        -34
44               Arenas        -81
28               Alaves       -165
38           Compostela        -42
15              Osasuna       -334
14       Sporting Gijon       -399
24               Getafe       -113
50                 Jaen        -62
13     Racing Santander       -525
12           Valladolid       -413
26             Tenerife       -125
16               Malaga       -342
34            Castellon       -169
43                Eibar        -28
..                  ...        ...
23                Elche       -272
41           Pontevedra        -56
21              Granada       -338
46            Gimnastic       -114
25             Hercules       -334
51           Real Union        -31
30            Salamanca       -159
37              Cordoba       -145
22       Rayo Vallecano       -328
40            Burgos CF        -94
35             Albacete        -90
29              Levante       -202
49             Alcoyano       -107
33             Logrones       -198
36              Almeria       -122
39           Recreativo        -94
52           AD Almeria        -45
47          Extremadura        -55
27               Murcia       -385
42             Numancia        -98
48               Merida        -45
57               Condal        -20
58      Atletico Tetuan        -34
32                Cadiz       -269
45          Real Burgos        -38
55              Leganes        -19
56                Xerez        -28
54               Lleida       -112
59     Cultural Leonesa        -31
60               Girona          0

[61 rows x 2 columns]

In [127]:
#Creating new column 'Winning percentage'
la_liga['Winning Percent'] = (la_liga['GamesWon'].astype(int)/la_liga['GamesPlayed'].astype(int))*100

In [128]:
#Replacing NaN with 0
la_liga['Winning Percent'].fillna(0,inplace=True)

In [132]:
#Printing top 5 teams by winning percent
la_liga.sort_values(by=['Winning Percent'], ascending=False, inplace=True)
print(la_liga.iloc[:5,1].to_string(index=False))

     Real Madrid
       Barcelona
 Atletico Madrid
        Valencia
 Athletic Bilbao

In [140]:
#Grouping by best position and summing the points
la_liga.groupby(['BestPosition']).sum()[['Points']]

              Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34